body {
    
    justify-content: center;
    align-items: center;
  }

h1, h2 {
    text-align: center;
}

#nav_container {
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}


.topnav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 3px;
}
.topnav li {
    cursor: pointer;
}

.topnav li:hover {
    color: lightblue;
}

#magni {
    margin-right: 5px;
}

input {
    border-radius: 10px;
}


img {
	max-width: 100%;
	height: auto;
    margin: 0 0 10px 0;
    border-radius: 10px;
}


div.top_stories {
	display: flex;
    justify-content: space-around;
}

div.top_story {
    width: 29%;
    float: left;
    padding-top: 10px;
	margin-left: 2%;
    margin-right: 2%;
    
}


footer {
    margin: 40px;
}

.footernav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 3px;
}
.footernav li {
    cursor: pointer;
}

.footernav li:hover {
    color: lightblue;
}
